
:root[calculator-theme="black"] { 
    --bodyColor: black;
    --calcColor:black;
    --lightGreyColor:rgb(141,140,140);
    --orangeColor: orange;
    --restOf:rgb(63,63,63);

   
}
:root[calculator-theme="pink"] {
    --bodyColor: pink;
    --calcColor: rgb(255, 218, 218);
    --lightGreyColor: rgb(248, 179, 179);
    --orangeColor: rgb(255, 62, 207);
    --restOf: rgb(255, 140, 226);
    
}
:root[calculator-theme="blue"] {
    --bodyColor: rgb(40, 16, 255);
    --calcColor: rgb(71, 172, 255);
    --lightGreyColor: rgb(71, 227, 255);
    --orangeColor: rgb(38, 204, 255);
    --restOf: rgb(131, 185, 255);
}
:root[calculator-theme="red"] {
    --bodyColor: rgb(255, 71, 71);
    --calcColor: rgb(255, 118, 118);
    --lightGreyColor: rgb(255, 203, 203);
    --orangeColor: rgb(211, 18, 18);
    --restOf: rgb(250, 71, 71);
}
:root[calculator-theme="green"] {
    --bodyColor: rgb(0, 255, 136);
    --calcColor: rgb(123, 255, 156);
    --lightGreyColor: rgb(139, 226, 39);
    --orangeColor: rgb(18, 141, 7);
    --restOf: rgb(22, 255, 61);
}
body {
    
    justify-content: center;
    position: relative;
    margin: 0;
    background-color: var(--bodyColor,black)
    
}

.colorDiv { 
    position: absolute;
    right: 0px;
    bottom: -655px;
    flex-wrap: nowrap;
    height: 400px;
    width: 900px;
}

.colorDiv button {
    cursor: pointer;
    border: 5px inset;
    height:150px;
    width: 150px;

}
.calculator {
    margin:0;
    border:0px solid rgb(175, 175, 175);
    
    position: absolute;
    bottom:-750px;
    left: 35px;
    border-radius: 25px;
    background-color: var(--calcColor,black);
    height: 700px;
    width: 400px;
}

#display {
    border-radius: 25px;
    width: 100%;
    height:25%;
    padding:0px;
    font-size: 3rem;
    text-align: right;
    color: white;
    border: 0px;
    background-color:  var(--calcColor,black);
}

.main-frame-calculator {
    width: 100%;
    height: 70%;
    display: flex;
    background-color:  var(--calcColor,black);
    flex-shrink: 0;
    flex-wrap: wrap;

    gap:20px;
}

.calc-item {
    border:0px;
    text-align: center;
    line-height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:35px;
    color: white;
    height: 80px;
    border-radius: 50px;
    margin-left: 4.1px;
    width: 80px;
    background-color:  var(--restOf,rgb(63, 63, 63));
}
.calc-item:hover {
    background-color: rgba(134, 134, 134);
}
#_0 {
    flex-grow: 2;
}

.orange-circle {
    background-color:  var(--orangeColor,orange);
}
.orange-circle:hover {
    background-color: rgba(253, 221, 191, 0.973);
}

.orange-circle:active {
    background-color: rgba(255, 255, 255, 0.973);
}

.light-grey-circle { 
    color: black;
    background-color:  var(--lightGreyColor,rgb(141,140,140));
}
.light-grey-circle:hover { 
    background-color: rgba(190, 190, 190, 0.973);
}